/* base styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: url('backgroound-image-2.jpg');
}

html,
body,
.wrapper {
  height: 100%;
  margin: 10px;
  padding: 0;
}
.title {
  font-size: 56px;
  margin-top: 32px;
  color: rgba(139, 69, 19, 0.796);
  font-family: monospace;
  text-transform: uppercase;
  font-weight: 500;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  text-transform: lowercase;
  text-align: center;
  font-weight: 500;
  margin: 15px 5px;
}

p {
  font-size: 14px;
  text-align: center;
  font-weight: 200;
  font-family: sans-serif;
}

.valueTitle {
  font-size: 24px;
  margin-left: 25px;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f9fbfd;
  min-height: 100vh;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* header */

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* main body */

.card {
  background-color:  hsla(337, 38%, 85%, 0.515);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(240, 2%, 16%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header {
  background-color: rgba(181, 120, 14, 0.741);
}
.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #ffe1e9;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

/* Value range  */
.inputs {
  display: flex;
  padding: 5px 5px;
  margin: 0 40px;
}

.valueTitle {
  margin: 0 5px;
  padding: 0 10px;
}

.slider {
  margin: 0 5px;
  padding: 0 10px;
}

.digits {
  margin: 0 5px;
}

/* footer */

.card-footer {
  text-align: center;
}

.numberRange {
  text-align: center;
  padding: 10px 10px;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/* button */

.btn {
  border: none;
  background-color: rgb(181, 120, 14);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(317, 64%, 94%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(317, 64%, 94%);
  color:  rgb(181, 120, 14);
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#printPassword {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
  .valueTitle {
    padding: 20px 10px;
  }
}
